.operating {
    height: 100%;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    color: #1d5871;
    /* box-shadow: 0px -10px 10px rgb(225, 225, 225); */
    font-family: 'Inter', sans-serif;
}

.operating > span{
    background:linear-gradient(to right, #009292, #1d5871);
    color: white;
    width: 100%;
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 40px;
}


.operating > span > span {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.bgMap>img {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

@media (max-width: 480px) {
    .operating {
        margin-top: 50px; 
    }
    .operating > h1 {
        font-size: 2rem;
    }
    .operating > span {
        font-size: 1.5rem;
    }

    .operating > span > span {
        font-size: 1.8rem;
    }   
    .bgMap > img {
        height: 450px;
        /* width: 450px; */
        object-fit:cover;
         background-position: center;
        background-size: none;

    }
}