.password_modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #009292b3, #1d58719b);
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 3px 5px; */
    display: none;
}

.innerModal {
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #1d5871;
    border: 2px solid #009292;
    box-shadow: 0px 0px 20px #009292;
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.innerModal button {
    background-color: #009292;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 3px;
}

.innerModal button:hover {
    background: linear-gradient(to top, #009292, #1d5871);
    color: white;
}

.password_h {
    background: linear-gradient(to right, #009292, #1d5871);
}

.password_saveBtn {
    background-color: #1d5871;
}

.password_saveBtn:hover {
    background-color: #08445e;
}
@media only screen and (max-width: 600px) {
    .innerModal {
        padding: 20px;
        width: 90vw;
        height: 30vh;
        margin-top: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
