.carousel {
        width: 100%;
        height: 100%;
        /* border: 2px solid blue; */
        background-color: white;

}

.home_carouselActualSize {
        /* border: 2px solid blue; */
        height: 100%;
        padding: 20px;
}

.home_carouselActualSize a {
        /* border: 2px solid red; */
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: auto;
}

.home_carouselActualSize a:hover {
        background-color: rgba(56, 56, 56, 0.397);
}

.carouselImg {
        /* border: 2px solid yellow ; */
        margin: auto;
}

@media (max-width: 480px) {
        .home_carouselActualSize a {
                height: 50px;
                width: 50px;
        }
}